In [2]:
# Importing library
import pandas as pd

# Load the dataset from a local CSV file
df = pd.read_csv("C:/Users/Admin/Desktop/Final Exam prep/urbanandruralpopulation new.csv")

# Display the first few rows of the dataset
df

           country Code country  Year  Urban population Rural population
0      Afghanistan          AFG  1960            724373          7898093
1      Afghanistan          AFG  1961            763336          8026804
2      Afghanistan          AFG  1962            805062          8163985
3      Afghanistan          AFG  1963            849446          8308019
4      Afghanistan          AFG  1964            896820          8458694
...            ...          ...   ...               ...              ...
14163     Zimbabwe          ZWE  2017           4755312          9995789
14164     Zimbabwe          ZWE  2018           4848158         10204026
14165     Zimbabwe          ZWE  2019           4945719         10408889
14166     Zimbabwe          ZWE  2020           5052214         10617452
14167     Zimbabwe          ZWE  2021           5166388         10827136

[14168 rows x 5 columns]